body {
  background-color: #ebeff5;
}

#total-orders {
  background-color: #4cb4c7;
}

#orders-delivered {
  background-color: #7abecc;
}
#orders-pending {
  background-color: #7cd1c0;
}

.table-orders span {
  color: rgb(103, 103, 103);
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
