{% extends 'accounts/main.html' %} {% block content %}
<!--  -->
{% include 'accounts/status.html' %}

<div class="row">
  <div class="col-md-5">
    <h5>CLIENTES:</h5>
    <hr />
    <div class="card card-body">
      <a href="" class="btn btn-primary btn-sm btn-block">Cadastrar cliente</a>
      <table class="table table-sm">
        <tr>
          <th></th>
          <th>Cliente</th>
          <th>Pedidos</th>
        </tr>
        {% for customer in customers %}
        <tr>
          <td>
            <a
              class="btn btn-sm btn-info"
              href="{% url 'customer' customer.id %}"
              >Visualizar</a
            >
          </td>
          <td>{{ customer.name }}</td>
          <td>{{ customer.phone }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-7">
    <h5>ÚLTIMOS 5 PEDIDOS</h5>
    <hr />
    <div class="card card-body">
      <a href="" class="btn btn-primary btn-sm btn-block">Cadastrar pedido</a>
      <table class="table table-sm">
        <tr>
          <th>Produto</th>
          <th>Data pedido</th>
          <th>Status</th>
          <th>Ações</th>
        </tr>
        {% for order in orders %}
        <tr>
          <td>{{ order.product }}</td>
          <td>{{ order.date_created }}</td>
          <td>{{ order.status }}</td>
          <td><a class="btn btn-sm btn-info" href="">Atualizar</a></td>
          <td><a class="btn btn-sm btn-danger" href="">Excluir</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{%endblock %}
