<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user.is_staff %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"
            >Dashboard <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Produtos</a>
        </li>
      {% endif %}
    </ul>
  </div>
  <span class="text-white mr-2">Olá, {{request.user|title}}</span>
  <span class="text-white ml-2 mr-3">|</span>
  <span class="text-white mr-2"
    ><a
      class="text-white"
      href="{% url 'logout' %}"
      data-toggle="tooltip"
      title="Sair"
      ><i class="fas fa-power-off"></i></a
  ></span>
</nav>
