{% extends 'accounts/main.html' %}
<!--  -->
{% block content %}
<div class="container col-sm-10 col-md-10 col-lg-3">
  <form class="form-signin" method="POST" action="">
    {% csrf_token %}
    <div class="mb-3">
      <h1 class="h3 mb-3 font-weight-normal">Cadastrar novo usuário</h1>
    </div>
    <div class="mb-3">
      <label for="username">Nome de usuário</label>
      {{form.username}}
    </div>
    <div class="mb-3">
      <label for="email">Email</label>
      {{form.email}}
    </div>
    <div class="mb-3">
      <label for="password1">{{form.password1.label}}</label>
      {{form.password1}}
    </div>
    <div class="mb-3">
      <label for="password2">{{form.password2.label}}</label>
      {{form.password2}}
    </div>
    <input
      type="submit"
      class="btn btn-lg btn-primary btn-block"
      value="Cadastrar"
    />
  </form>
</div>
<script>
  var form_fields = document.getElementsByTagName("input");
  form_fields[1].placeholder = "Usuário";
  form_fields[2].placeholder = "Email";
  form_fields[3].placeholder = "Senha";
  form_fields[4].placeholder = "Confirmação de senha";

  for (var field in form_fields) {
    form_fields[field].className += "form-control";
  }
  form_fields[5].className = "btn btn-lg btn-primary btn-block";
</script>
{% endblock %}
